<blockquote class="blockquote">
  <div class="blockquote__quote">
    {{ quote }}
  </div>
  {% if attribution %}
    <footer class="blockquote__attribution">
      {{ attribution }}
    </footer>
  {% endif %}
</blockquote>
