
body > .layout-container,
body .dialog-off-canvas-main-canvas > .layout-container {
  display: grid;
  grid-template-areas:
      "header"
      "main"
      "footer";
}

header[role='banner'] {
  grid-column: header;
}

main {
  grid-column: main;
}

footer {
  grid-column: footer;
}
