{% set attributes = attributes ? attributes : create_attribute() %}

{% set classes = [
  'button',
  style ? 'button--' ~ style : '',
]|merge(classes|default([''])) %}

<a {{attributes.addClass(classes) }} href="{{ url }}">
  {{- text -}}
</a>
