.button {
  background-color: var(--color-primary-accent-dark);
  border: solid 1px var(--color-primary-accent-dark);
  color: var(--color-primary-accent-light);
  display: inline-block;
  line-height: 1.1;
  margin: 0.5rem 0 0 0;
  padding: 0.4rem 1.2rem;
  text-decoration: none;
}

.button + .button {
  margin-left: 1rem;
}
